html, body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  font-family: "Microsoft YaHei";
  font-size: 12px;
  font-weight: 700;
}
body {
  min-height:100%;
  background: #E3EDCD;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}